/* Write all your CSS here */
/* Please indent properly */
/* Please use only lower-case letters */
/* Your webpage should be 100% responsive!!! */
*{
    font-family: 'Open Sans', sans-serif;
}
#flex{
    display: flex;
}
#left-side{
    background-color: #3f0d40;
    width: 200px;
    max-width: 230px;
    min-width: 130px;
    color:#ad99ae;
    padding: 10px;
}

.only-headings, .search-icon{
    display: flex;
    justify-content: space-between;
}
.name i, .apps >ul i{ 
    font-size: 10px;
    padding: 0 4px 0 4px;
}
p>i{
    color:  #37938a;
}
.only-headings i{
    padding-top: 20px; 
}
.name>h2{
    margin: 0;
}
p{
    margin-top: 0;  
}
.search-icon{
    padding: 10px;
    background-color: #250027;
    border-radius: 5px;  
    color:#ad99ae;
}
.search-icon>input, .search input{
    border: none;
    background: none;
    color: rgb(207, 209, 211);  
}
#left-side a{
    text-decoration: none;
    color: #ad99ae;
}
#left-side a:hover{
    background-color: rgb(54, 63, 187);
    color: white;

}
#left-side li{
    list-style: none;
    padding: 3px 10px;
    font-size: 14px;
}

.messages> ul i{
    font-size: 10px;
    padding: 4px;
    color:  #37938a;
}
/* end left-section */
header{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(154, 154, 154);
}
.tk-girls{
    margin: 0%;
}

.tk-girls h3{
    padding:0 0 0 22px;
    margin: 0;
}

.header-icons>ul{
    margin-top: 3px;
    padding-left: 20px;
}
.search{
    display: flex;
    border: 1px solid rgb(154, 154, 154);
    border-radius: 5px;
    padding: 8px 10px;
    display: inline;
}
.search:hover{
    color: rgb(77, 77, 173);
}
header li{
    color: rgb(154, 154, 154);
    display: inline;
    padding: 5px;
}
.header-icons li{
    border-right: 1px solid rgb(154, 154, 154);
    font-size: 12px;
}
#right-side{
    flex: 2;
}
.about{
    padding: 15px 5px 35px 15px;
    border-bottom: 1px solid  rgb(154, 154, 154);
}
mark{
    background-color: lightblue;
}
a{
    color: rgb(2, 130, 173);
    padding: 6px;
    text-decoration: none;
}
.about>a:hover{
    text-decoration: underline;
    
}